@import "normolize.scss";

// === Mixins ===

@mixin font_Sintony {
    font-family: "Sintony", sans-serif;
}

@mixin font_Source_Sans_Pro {
    font-family: "Source Sans Pro", sans-serif;
}
// === / Mixins ===

// === Variables ===
$color_white: #ffffff;
$color_black: #000000;
$width_page: 1114px;
// === / Variables ===

// === Common ===
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include font_Source_Sans_Pro;
}
// === / Common ===

//.back_ground{
//    position: relative;
//}

.back_ground_header {
    color: $color_white;
    background: linear-gradient(0deg, #6f86d6 0%, #48c6ef 100%);
    background-size: cover;

    position: absolute;
    width: 100vw;
    height: 810px;

    top: 0px;
    left: 0px;
    right: 0;
    z-index: -1;

    -webkit-mask-image: url("/masks/bg/Mask.png");
    mask-image: url("/masks/bg/Mask.png");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: top left;
    mask-position: top left;
    -webkit-mask-size: 100vw 810px;
    mask-size: 100vw 810px;
}
.back_ground_path2 {
    color: $color_white;
    background: linear-gradient(0deg, rgba(221, 226, 255, 0.01) 1.34%, #ffffff 75.76%);
    background-size: cover;

    position: absolute;
    width: 100vw;
    height: 1150px;
    top: 810px;
    z-index: -3;
}
.back_ground_path3 {
    color: $color_white;
    background: linear-gradient(180deg, #ece9ff 10%, rgba(255, 255, 255, 0.0001) 100%);

    position: absolute;
    width: 100vw;
    height: 965px;

    top: 1535px;
    z-index: -2;

    -webkit-mask-image: url("/masks/bg/Path3.png");
    mask-image: url("/masks/bg/Path3.png");
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: top left;
    mask-position: top left;
    -webkit-mask-size: 100vw 965px;
    mask-size: 100vw 965px;
}
.back_ground_path4 {
    color: $color_white;
    background: linear-gradient(0deg, rgba(188, 188, 188, 0.5) 1.34%, #ffffff 75.76%);
    background-size: cover;

    position: absolute;
    width: 100vw;
    height: 1150px;

    top: 3057px;
    z-index: -1;
}
.container {
    max-width: $width_page;

    margin: 0 auto;
    padding: 0;

    // === header ===
    .section_header {
        //position: relative;
        color: $color_white;
        margin-top: 45px;
    }

    .section_header_menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 134px;

        width: 100%;
        height: 52px;

        &_logo {
            display: flex;

            padding: 0;

            &_img {
                width: 24px;
                height: 24px;
                transform: rotate(-27deg);
                margin-right: 17px;
            }

            &_name {
                color: $color_white;
                @include font_Source_Sans_Pro;
                font-weight: 900;
                font-style: normal;
                font-size: 18px;
                line-height: 27px;
                text-align: right;

                margin: 0;
                padding: 0;
            }
        }

        &_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 70%;
            height: 100%;

            margin: 0;
            //TODO: стрёмно мне от этой конструкции
            &__products,
            &__services,
            &__features,
            &__plans,
            &__sign_in {
                //flex: 1;
                //width: 100%;
                @include font_Sintony;
                font-weight: normal;
                font-style: normal;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
            }

            &__signup_button {
                button {
                    //flex: 1;
                    @include font_Source_Sans_Pro;
                    color: $color_white;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 24px;
                    /* identical to box height, or 160% */

                    text-align: center;
                    letter-spacing: 4.2px;
                    text-transform: uppercase;

                    border-radius: 26px;
                    background-color: $color_white;
                    border: none;

                    width: 154px;
                    height: 52px;
                }
            }
        }
    }

    // === / header ===

    .section_Hero {
        color: $color_white;
        position: relative;
        margin-bottom: 124px;
        &_wrapper {
            display: flex;
            flex-direction: column;

            &__title {
                @include font_Source_Sans_Pro;
                font-style: normal;
                font-weight: 900;
                font-size: 48px;
                line-height: 56px;

                max-width: 577px;

                margin-bottom: 36px;
                padding: 0 auto;
            }
            &__subtitle {
                @include font_Sintony;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 27px;

                max-width: 380px;

                margin-bottom: 40px;
                padding: 0 auto;
            }
            &__more_button {
                button {
                    @include font_Source_Sans_Pro;
                    color: $color_white;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 24px;

                    text-align: center;
                    letter-spacing: 4.2px;
                    text-transform: uppercase;

                    border-radius: 26px;
                    background-color: $color_white;

                    border: none;

                    width: 154px;
                    height: 52px;
                }
            }
        }
    }

    .section_Metrics_wrapper {
        color: $color_white;
        display: flex;
        justify-content: space-between;
        margin-bottom: 210px;
        &__one {
            width: 30%;
            height: 390px;

            background: $color_white;
            border: 1px solid #f2f2f2;
            box-sizing: border-box;
            box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.0236287);
            border-radius: 19px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            &_icon {
                width: 80px;
                height: 80px;
                background: linear-gradient(0deg, #6f86d6 0%, #48c6ef 100%);
                border-radius: 40px;

                display: flex;
                align-items: center;
                justify-content: center;

                &_img {
                    width: 40px;
                    height: 40px;
                }
            }
            &_title {
                @include font_Source_Sans_Pro;
                color: $color_black;

                max-width: 125px;

                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 27px;

                text-align: center;
            }

            &_subtitle {
                @include font_Sintony;
                color: $color_black;

                max-width: 270px;

                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 27px;

                text-align: center;
            }
        }

        &__two {
            width: 30%;
            height: 390px;

            background: $color_white;
            border: 1px solid #f2f2f2;
            box-sizing: border-box;
            box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.0236287);
            border-radius: 19px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            &_icon {
                width: 80px;
                height: 80px;
                background: linear-gradient(0deg, #6f86d6 0%, #48c6ef 100%);
                border-radius: 40px;

                display: flex;
                align-items: center;
                justify-content: center;

                &_img {
                    width: 40px;
                    height: 40px;
                }
            }
            &_title {
                @include font_Source_Sans_Pro;
                color: $color_black;

                max-width: 160px;

                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 27px;

                text-align: center;
            }

            &_subtitle {
                @include font_Sintony;
                color: $color_black;

                max-width: 270px;

                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 27px;

                text-align: center;
            }
        }

        &__three {
            width: 30%;
            height: 390px;

            background: $color_white;
            border: 1px solid #f2f2f2;
            box-sizing: border-box;
            box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.0236287);
            border-radius: 19px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            &_icon {
                width: 80px;
                height: 80px;
                background: linear-gradient(0deg, #6f86d6 0%, #48c6ef 100%);
                border-radius: 40px;

                display: flex;
                align-items: center;
                justify-content: center;

                &_img {
                    width: 40px;
                    height: 40px;
                }
            }

            &_title {
                @include font_Source_Sans_Pro;
                color: $color_black;

                max-width: 160px;

                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 27px;

                text-align: center;
            }

            &_subtitle {
                @include font_Sintony;
                color: $color_black;

                max-width: 270px;

                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 27px;

                text-align: center;
            }
        }
    }

    .section_Service_list {
        &_first {
            position: relative;
            width: 100%;
            height: 300px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &_first_Graph {
            position: relative;
            width: 50%;
            height: 100%;
            margin: 0;
        }

        //============================ box1
        &_first_Graph_box1 {
            position: absolute;
            width: 30%;
            height: 100px;

            left: 0px;
            top: 25px;

            background: $color_white;
            border: 1px solid #eeeeee;
            box-shadow: -5px 10px 24px rgba(221, 221, 221, 0.5);
            border-radius: 10px;

            &_flexbox {
                width: 90%;
                height: 100%;
                justify-self: center;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                margin: auto;
            }
            &_image {
                width: 31px;
                height: 31px;

                z-index: 10;
                margin-bottom: 20px;

                background: linear-gradient(0deg, #6f86d6 0%, #48c6ef 100%);

                -webkit-mask-image: url("/img/icon/image.svg");
                mask-image: url("/img/icon/image.svg");
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: top left;
                mask-position: top left;
                -webkit-mask-size: 31px 31px;
                mask-size: 31px 31px;
            }
            &_assets_wrapper {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-content: space-around;
            }
            &_assets1 {
                max-width: 100%;
                height: 10px;
                background: #b5b5b5;
                mix-blend-mode: normal;
                opacity: 0.21;
                border-radius: 8px;
            }
            &_assets2 {
                max-width: 100%;
                height: 10px;
                background: #b5b5b5;
                mix-blend-mode: normal;
                opacity: 0.21;
                border-radius: 8px;
            }
            &_assets3 {
                max-width: 100%;
                height: 10px;
                background: #b5b5b5;
                mix-blend-mode: normal;
                opacity: 0.21;
                border-radius: 8px;
            }
        }
        //============================ box2
        &_first_Graph_box2 {
            position: absolute;
            width: 47%;
            height: 160px;

            left: calc(30% + 25px);
            top: 70px;

            background: $color_white;
            border: 1px solid #eeeeee;
            box-shadow: -5px 10px 24px rgba(221, 221, 221, 0.5);
            border-radius: 10px;

            justify-content: center;

            &_flexbox {
                width: 80%;
                height: 100%;
                display: flex;
                justify-self: center;
                flex-direction: column;
                align-items: space-around;

                margin: auto;
            }

            &_assets1 {
                width: 90%;
                height: 12px;

                margin: auto;

                background: #b5b5b5;
                mix-blend-mode: normal;
                opacity: 0.21;
                border-radius: 8px;
            }
            &_wrapper {
                width: 100%;
                height: 70%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
            }

            &_image {
                width: 62px;
                height: 62px;

                z-index: 2;
                margin-bottom: 20px;

                background: linear-gradient(0deg, #6f86d6 0%, #48c6ef 100%);

                -webkit-mask-image: url("/img/icon/image.svg");
                mask-image: url("/img/icon/image.svg");
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: top left;
                mask-position: top left;
                -webkit-mask-size: 62px 62px;
                mask-size: 62px 62px;
            }
            &_assets_wrapper {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }
            &_assets2 {
                width: 90%;
                height: 12px;

                background: #b5b5b5;
                mix-blend-mode: normal;
                opacity: 0.21;
                border-radius: 8px;
            }
            &_assets3 {
                width: 90%;
                height: 12px;

                background: #b5b5b5;
                mix-blend-mode: normal;
                opacity: 0.21;
                border-radius: 8px;
            }
            &_assets4 {
                width: 90%;
                height: 12px;

                background: linear-gradient(0deg, #6F86D6 0%, #48C6EF 100%);
                border-radius: 8px;
            }
        }

        //============================ box3

        &_first_Graph_box3 {
            position: absolute;
            width: 30%;
            height: 100px;

            left: 0px;
            top: 193px;

            background: $color_white;
            border: 1px solid #eeeeee;
            box-shadow: -5px 10px 24px rgba(221, 221, 221, 0.5);
            border-radius: 10px;

            &_flexbox {
                width: 90%;
                height: 100%;
                justify-self: center;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-start;
                margin: auto;
            }
            
            &_assets_wrapper {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-content: space-around;
            }
            &_assets1 {
                max-width: 100%;
                height: 10px;
                background: #b5b5b5;
                mix-blend-mode: normal;
                opacity: 0.21;
                border-radius: 8px;
            }
            &_assets2 {
                max-width: 100%;
                height: 10px;
                background: #b5b5b5;
                mix-blend-mode: normal;
                opacity: 0.21;
                border-radius: 8px;
            }
            &_assets3 {
                max-width: 100%;
                height: 10px;
                background: #b5b5b5;
                mix-blend-mode: normal;
                opacity: 0.21;
                border-radius: 8px;
            }
            &_image {
                width: 31px;
                height: 31px;

                z-index: 2;
                margin-top: 20px;

                background: linear-gradient(0deg, #6f86d6 0%, #48c6ef 100%);

                -webkit-mask-image: url("/img/icon/image.svg");
                mask-image: url("/img/icon/image.svg");
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: top left;
                mask-position: top left;
                -webkit-mask-size: 31px 31px;
                mask-size: 31px 31px;
            }
        }

        .section_Service_list_first_Graph{
            &_arrow1{
                position: absolute;
                height: 24px;
                width: 24px;

                left: 25%;
                top: 165px;
                
                background: linear-gradient(0deg, #6F86D6 0%, #48C6EF 100%);

                -webkit-mask-image: url("/img/icon/right.svg");
                mask-image: url("/img/icon/right.svg");
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: top left;
                mask-position: top left;
                -webkit-mask-size: 24px 24px;
                mask-size: 24px 24px;
            }
            &_arrow2{
                position: absolute;
                height: 24px;
                width: 24px;

                left: 25%;
                top: 130px;

                transform: matrix(1, 0, 0, -1, 0, 0);
                background: linear-gradient(0deg, #6F86D6 0%, #48C6EF 100%);

                -webkit-mask-image: url("/img/icon/right.svg");
                mask-image: url("/img/icon/right.svg");
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;
                -webkit-mask-position: top left;
                mask-position: top left;
                -webkit-mask-size: 24px 24px;
                mask-size: 24px 24px;
            }
            &_circle1{
                position: absolute;
                width: 20px;
                height: 20px;
                left: 30%;
                top: 0px;
                background: linear-gradient(0deg, #6F86D6 0%, #48C6EF 100%);
                border-radius: 40px;
            }
            &_circle2{
                position: absolute;
                width: 20px;
                height: 20px;   
                left: 7%;
                top: 147px;
                background: linear-gradient(0deg, #6F86D6 0%, #48C6EF 100%);
                border-radius: 40px;
            }
            &_glass{
                position: absolute;
                height: 74px;
                width: 74px;
                left: 28%;
                top: 186px;
                border-radius: 40px;
                background: linear-gradient(0deg, #6F86D6 0%, #48C6EF 100%);
                justify-content: center;
                //align-items: center;
                &_img{
                    width: 22px;
                    height: 22px;

                    margin-top: 26px;
                    margin-left: 26px;
                }
            }
        }
    }

    .section_Service_list_first_date{
        position: relative;
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: space-evenly;
        &_icon{
            position: relative;
            height: 80px;
            width: 80px;
            border-radius: 40px;
            background: linear-gradient(0deg, #6F86D6 0%, #48C6EF 100%);
            &_image{
                width: 40px;
                height: 40px;
                margin-top: 20px;
                margin-left: 20px;
            }
        }
        &_title{
            @include font_Source_Sans_Pro;
            font-size: 28px;
            font-style: normal;
            font-weight: 900;
            line-height: 36px;
            letter-spacing: 0px;
            text-align: left;

            max-width: 380px;
            height: auto
        }
        &_subtitle{
            @include font_Sintony;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0px;
            text-align: left;

            max-width: 290px;
            height: auto;
        }
    }

}
